{% extends 'index.html' %}
{% block main %}
    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">
                            <div class="my-3 text-center">ایمیل خود را تایید کنید</div>
                            <h4>ایمیل خود را چک کنید</h4>
                                <div class="field">
                                    <p>  ما یک ایمیل جهت تایید ایمیل شما فرستادیم بروی لینک که در ایمیل وجود دارد کلیک کنید تا ایمیل شما تایید شود </p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
{% block static %}
    <script src="https://use.fontawesome.com/96472d4340.js"></script>
{% endblock %}    