{% extends 'index.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href={% static  'assets/css/style.css' %}>
{% endblock %}
{% block main %}
  <main>
    <section class="py-5">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-sm-9 col-md-11 col-lg-10">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
                <div class="user-panel custom-bg">
                    <div class="user-panel-box">
                        <div class="user-panel-profile">
                      <img src="{{ user_form.profile_picture.value.url }}" alt="">
                    </div>
                  <div class="change-profile-btn">
                        <label class="btn custom-btn"  style="cursor: pointer;" for='id_profile_picture'>تغییر عکس پروفایل <input class="btn custom-btn" type="file" style="opacity:0;width:3;" name="profile_picture" accept="image/*" id="id_profile_picture"></label>
                      {% if user_form.profile_picture.errors %}
                      <p>{{ user_form.profile_picture.errors|striptags}}</p>
                      {% endif %}
                  </div>
                  <!-- item -->
                  <div class="form-field">
                      <div class="user-panel-field">
                          <i class="fa fa-user"></i>
                          <input class="email-input" type="text" name="first_name" value="{{ user_form.first_name.value }}" placeholder="نام ">
                      </div>
                      {% if user_form.first_name.errors %}
                          <p>{{ user_form.first_name.errors|striptags}}</p>
                      {% endif %}
                  </div>
                  <!-- item -->
                  <div class="form-field"  >
                      <div class="user-panel-field">
                        <i class="fa fa-user"></i>
                        <input class="email-input" type="text" name="last_name" value="{{ user_form.last_name.value }}" placeholder="نام خانوادگی">
                      </div>
                      {% if user_form.last_name.errors %}
                          <p>{{ user_form.last_name.errors|striptags}}</p>
                      {% endif %}
                  </div>
                  <!-- item -->
                  <div class="form-field" >
                      <div class="user-panel-field">
                          <i class="fa fa-envelope"></i>
                          <input class="email-input" type="email" name="email" value="{{ user_form.email.value }}" placeholder="پست الکترونیک" dir="ltr" maxlength="50" disabled>
                      </div>
                   <a href="{% url 'account_email' %}"><p> تغییر ایمیل</p></a>
                      {% if user_form.email.errors %}
                          <p>{{ user_form.email.errors|striptags}}</p>
                      {% endif %}
                  </div>
                  <!-- item -->
                  <div class="form-field" >
                      <div class="user-panel-field">
                          <i class="fa fa-phone"></i>
                          <input class="email-input" type="tel" name="phone_number" value="{{ user_form.phone_number.value }}" placeholder="شماره تلفن">
                      </div>
                      {% if user_form.phone_number.errors %}
                          <p>{{ user_form.phone_number.errors|striptags}}</p>
                      {% endif %}
                  </div>
                  <!-- item -->
                  <div class="form-field" >
                      <div class="user-panel-field">
                          <i class="fa fa-user-circle"></i>
                          <input class="" type="text" name="username" value="{{ user_form.username.value }}" placeholder="نام کاربری" >
                      </div>
                      {% if user_form.username.errors %}
                          <p>{{ user_form.username.errors|striptags}}</p>
                      {% endif %}
                  </div>
              </div>
              <div class="d-flex justify-content-center mt-3 ">
                  <button type="submit" class="btn custom-btn w-50">اعمال تغییرات</button>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </section>
  </main> 
{% endblock %}
{% block script %}
    <script src="https://use.fontawesome.com/96472d4340.js"></script>
{% endblock %}