{% extends 'index.html' %}
{% load static %}
{% load extra_filters %}
{% load jformat %}
{% load comments %}
{% load comments_xtd %}
{% load hitcount_tags %}
{% load static %}
{% block main %}
    <main>
        <section class="py-5">
            <div class="container">
                <div class="row">
                    {% for post in current_page.object_list %}
                    <div class="col-md-6 col-lg-4 my-2">
                        <div class="custom-bg">
                            <div class="video-card">
                                <a href="{% url 'post-detail' post.publish.year post.publish.month post.publish.day post.slug %}" class="position-relative d-block ">
                                    <img src="{{ post.video_thumbnail.url }}" alt="" class="img-fluid w-100 h-100">
                                    <div class="video-play-btn">
                                        <i class="fa fa-play"></i>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between video-category-time">
                                        <h6 class="">{{ post.category }}</h6>
                                        <span class="vid-time">{{ post.get_video_duration }}</span>
                                    </div>
                                    <div class="video-card-details">
                                        <div>
                                            <span>{% get_hit_count for post %}</span>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                        <div>
                                            <span>{{ post.likes.all | length }}</span>
                                            {% if request.user in post.likes.all %}
                                                <i class="fa fa-heart liked" type='button'aria-hidden="true" ></i>
                                            {% else %}
                                                 <i class="fa fa-heart-o" type='button'  aria-hidden="true"></i>
                                             {% endif %}
                                        </div>
                                        <div>
                                            {% get_comment_count for post as comment_count %}
                                            <span>{{ comment_count }}</span>
                                            <i class="fa fa-comment"></i>
                                        </div>
                                    </div>
                                    <div class="article-overlay"></div>
                                </a>

                            </div>
                            <a>
                                <h4 class="video-card-title m-2" > {{ post.title }}</h4>
                                <h5 class="video-card-title m-2"> {{ post.body }}</h5>
                            </a>
                            <div class="my-3 pb-3 mx-2">
                                <i class="fa fa-user  ml-1 "></i>
                                <span>{{ post.author.get_full_name }}</span>
                            </div>
                        </div>
                    </div>
                   {% endfor %}
                </div>

                <div class="d-flex align-items-center justify-content-center mb-3 pagination">
                    <a href="" class="mx-1"><i class="fa fa-chevron-right"></i></a>
                    {% for page in pages %}
                        {% if request.GET.search %}
                            <a href="?tag={{ request.GET.search }}&page={{ page}}" class="active mx-1"> {{ page }} </a>
                        {% else %}
                            <a href="?page={{ page}}" class="active mx-1"> {{ page }} </a>
                        {% endif %}
                    {% endfor %}
                    <a href="" class="mx-1"><i class="fa fa-chevron-left"></i></a>
                </div>

            </div>
        </section>

    </main>

    {% endblock main %}

{% block script %}
    <script>
        function ShowFilter(){
            const filter = document.getElementById("filter");
             if (filter.style.display === 'none') {
                // this SHOWS the form
                filter.style.display = 'block';
            } else {
                //  this HIDES the form
                filter.style.display = 'none';
            }
        };
    </script>
    <script src="https://use.fontawesome.com/96472d4340.js"></script>
{% endblock %}