{% extends 'index.html' %}
{% load static %}
{% load extra_filters %}
{% load jformat %}
{% load comments %}
{% load comments_xtd %}
{% load hitcount_tags %}
{% block main %}
    <main>
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div>
                            <!-- video -->
                            <div class="video-player-box">
                                <div class="video-icon">
                                    <div class="btn video-btn" onclick="playvideo()" id="videobtn">
                                        <img src="{% static 'assets/image/play-video-btn.png' %}" alt="video-btn">
                                    </div>
                                </div>
                                <div class="video">
                                    <video width="100%" id="myVideo" autoplay>
                                        <source src="{{ post.video.url }}" type="video/mp4">
                                    </video>
                                    {% if post.video_thumbnail %}
                                    <img src="{{post.video_thumbnail.url}}" width="100%" height="100%"
                                        class="position-absolute video-poster" alt="">
                                    {% endif %}
                                    <div class="video-overlay"></div>
                                    <div class="video-description px-2 text-white">

                                        <p> {{ post.get_video_duration }}</p>
                                    </div>
                                    <h5 class="close-btn" onclick="stopPlayer()">X</h5>
                                </div>
                            </div>
                            <!-- end video -->
                            <!-- title -->
                            <h3 class="video-title my-3">{{ post.title }}
                            </h3>
                            <div class="d-flex align-items-center justify-content-between border-bottom pb-3">
                                <p class="color78">{{ post.publish|jformat:'%d %B %Y' }}</p>
                                <div class="d-flex align-items-center view-like">
                                    <div class="mx-3">
                                        <span>{% get_hit_count for post %}</span>
                                        <i class="fa fa-eye"></i>
                                    </div>
                                    <div>
                                    {% if not messages%}
                                        <span>{{ post.likes.all | length }}</span>
                                            {% if request.user in post.likes.all %}
                                                <i class="fa fa-heart liked" type='button' onclick="document.getElementById('like').submit();" aria-hidden="true" ></i>
                                            {% else %}
                                                 <i class="fa fa-heart-o" type='button' onclick="document.getElementById('like').submit();" aria-hidden="true"></i>
                                             {% endif %}
                                        <form id="like"  method="post" action="{% url 'post-like' post.id %}">
                                            {% csrf_token %}
                                        </form>
                                        {% else %}
                                            {% for message in messages %}
                                                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- description -->
                            <div class="border-bottom pb-3">
                                <h4 class="my-3">درباره فیلم</h4>
                                <p class="color78"> {{ post.body }}</p>

                                <div class="labels">
                                    <h4 class="my-3">برچسب ها</h4>
                                    <ul class="d-flex align-items-center">
                                        <li><a href="#" title="">#گردشگری</a></li>
                                        <li><a href="#" title="">#تفریحی </a></li>
                                        <li><a href="#" title="">#دشت نور</a></li>
                                        <li><a href="#" title="">#مکان های تفریحی</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end des -->
                            <!-- comments -->
                            <div>
                            {% if  request.user.is_authenticated %}
                                <div class="py-3">
                                    {% get_comment_count for post as comment_count %}
                                    <span>{{ comment_count }}</span>
                                    <span>نظر</span>
                                </div>
                               {% if post.enable_comments %}
                               {% render_comment_form for post %}
                               {% else %}
                                   <p>کامنت ها برای این پست غیر فعال شده</p>
                                    <br>
                               {% endif %}
                                {% if comment_count %}
                                    <hr/>
                                    <div class="comments">
                                        {% render_xtdcomment_tree for post %}
                                    </div>
                                {% endif %}
                              {% else %}
                                <p> شما باید ابتدا وارد شوید </p>
                               {% endif %}
                                <!-- comment -->
                            </div>
                            <!-- end comments -->
                        </div>
                    </div>
                    <!-- main -->
                    <!-- side -->
                {% with teacher=post.author.teacher %}
                    <aside class="col-md-4 ">
                        <div class="custom-bg p-2 teacher-card">
                            <div class="border-bottom py-3 text-center">
                                <h4>درباره استاد</h4>
                            </div>
                            <div class="d-flex align-items-center py-3">
                                <img src="{{post.author.profile_picture.url }}" alt="student" class="teacher-profile">
                                <p class="user-name pr-2"> {{ post.author.first_name}} {{ post.author.last_name}} </p>
                            </div>
                            <p class="color78 teacher-description py-3"> {{ teacher.bio }} </p>

                                <div class="teacher-social-media d-flex align-items-center justify-content-center flex-wrap">
                                    {% if teacher.instagram %}
                                    <a href="{{ teacher.instagram }}"> <i class="fa fa-instagram"></i></a>
                                    {% endif %}
                                    {% if teacher.github %}
                                    <a href="{{ teacher.github }}"> <i class="fa fa-github"></i></a>
                                    {% endif %}
                                    {% if teacher.linkedin %}
                                    <a href="{{ teacher.linkedin }}"> <i class="fa fa-linkedin"></i></a>
                                    {% endif %}
                                    {% if teacher.telegram %}
                                    <a href="{{ teacher.telegram }}"> <i class="fa fa-telegram"></i></a>
                                    {% endif %}
                                </div>
                        </div>
                    </aside>
                    {% endwith %}
                    <!-- end side -->
                </div>
            </div>
        </section>

    </main>
{% endblock %}    

{% block script %}
    <script>
        function ShowForm(id) {
            const form = document.getElementById(id);
            if (form.style.display === 'none') {
                // this SHOWS the form
                form.style.display = 'block';
            } else {
                //  this HIDES the form
                form.style.display = 'none';
            }

        }
        // video-player
        const vid = document.getElementById("myVideo");
        const videobtn = document.querySelector('.video-btn');
        const video = document.querySelector('.video');
        const videotag = document.querySelector('video')
        const videoDescription = document.querySelector('.video-description')
        const closeBtn = document.querySelector('.close-btn')
        const videoPoster = document.querySelector('.video-poster')
        const videoOverlay = document.querySelector('.video-overlay')
        function stopPlayer() {
            videobtn.style.display = "block";
            closeBtn.style.display = 'none';
            videoPoster.style.display = 'inline'
            video.style.zIndex = '-1'
            videotag.pause()
            videotag.style.borderRadius = '20px'
            videoDescription.style.display = 'flex'
            videotag.controls = false
            videotag.style.borderRadius = '15px'
            videoOverlay.style.display = 'block'
        };

        function playvideo() {
            videobtn.style.display = "none";
            video.style.zIndex = '22222'
            videotag.autoplay = true
            videotag.play()
            videotag.style.borderRadius = '20px'
            videotag.controls = true
            videoDescription.style.display = 'none'
            closeBtn.style.display = 'block'
            videoPoster.style.display = 'none'
            videoOverlay.style.display = 'none'
        }
    </script>
    <script src="https://use.fontawesome.com/96472d4340.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'hitcount/jquery.postcsrf.js' %}"></script>
    {% insert_hit_count_js for post  %}

{% endblock %}