{% extends 'index.html' %}
{% block main %}
    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">

                            <form method="post" class="">
                                {% csrf_token %}
                                <div class="field">
                                    <i class="fa fa-lock"></i>
                                    <input class="password-input" dir="ltr" name="password1" type="password" placeholder="گذرواژه جدید">
                                </div>
                                
                            <div class="field">
                                <i class="fa fa-lock"></i>
                                <input class="password-input" dir="ltr" name="password2" type="password" placeholder=" تکرار گذرواژه جدید">
                                </div>
                                {% if form.errors %}
                                    {% for error in form.errors.values %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                                <div class="my-3">
                                    <button class="btn custom-btn w-100">ثبت گذرواژه</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock  %}
{% block static %}
    <script src="https://use.fontawesome.com/96472d4340.js"></script>
{% endblock %}    