{% extends 'index.html' %}
{% load static %}
{% load extra_filters %}
{% load jformat %}
{% block main %}

    <main>
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div>
                            <!-- video -->
                            <div class="video-player-box">
                                <div class="video-icon">
                                    <div class="btn video-btn" onclick="playvideo()" id="videobtn">
                                        <img src="{% static 'assets/image/play-video-btn.png' %}" alt="video-btn">
                                    </div>
                                </div>
                                <div class="video">
                                    <video width="100%" id="myVideo" autoplay>
                                        <source src="{{ post.video.url }}" type="video/mp4">
                                    </video>
                                    {% if post.video_thumbnail %}
                                    <img src="{{post.video_thumbnail.url}}" width="100%" height="100%"
                                        class="position-absolute video-poster" alt="">
                                    {% endif %}
                                    <div class="video-overlay"></div>
                                    <div class="video-description px-2 text-white">

                                        <p> 35 دقیقه</p>
                                    </div>
                                    <h5 class="close-btn" onclick="stopPlayer()">X</h5>
                                </div>
                            </div>
                            <!-- end video -->
                            <!-- title -->
                            <h3 class="video-title my-3">{{ post.title }}
                            </h3>
                            <div class="d-flex align-items-center justify-content-between border-bottom pb-3">
                                <p class="color78">{{ post.publish|jformat:'%d %B %Y' }}</p>
                                <div class="d-flex align-items-center view-like">
                                    <div class="mx-3">
                                        <span>22</span>
                                        <i class="fa fa-eye"></i>
                                    </div>
                                    <div>
                                        <span>21</span>
                                        <i class="fa fa-heart-o" type='button' aria-hidden="true"></i>
                                        <!-- <i class="fa fa-heart liked" type='button' aria-hidden="true" ></i> -->
                                    </div>
                                </div>
                            </div>
                            <!-- description -->
                            <div class="border-bottom pb-3">
                                <h4 class="my-3">درباره فیلم</h4>
                                <p class="color78"> {{ post.body }}</p>

                                <div class="labels">
                                    <h4 class="my-3">برچسب ها</h4>
                                    <ul class="d-flex align-items-center">
                                        <li><a href="#" title="">#گردشگری</a></li>
                                        <li><a href="#" title="">#تفریحی </a></li>
                                        <li><a href="#" title="">#دشت نور</a></li>
                                        <li><a href="#" title="">#مکان های تفریحی</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end des -->
                            <!-- comments -->
                            <div>

                                <div class="py-3">
                                    <span>2982</span>
                                    <span>نظر</span>
                                </div>

                                <form method="post" action="{% url 'add-comment' post.id %}">
                                    {% csrf_token %}
                                    <textarea class="w-100 p-2 comment-area" name="body" id="id_body" cols="30" rows="10"
                                        placeholder="دیدگاه خود را بنویسید"></textarea>
                                    <div class="d-flex align-items-center justify-content-end pt-3">
                                        <button type="submit" class="btn custom-btn">ارسال نظر</button>
                                    </div>
                                </form>
                                <!-- comment -->
                                {% if comments %}
                                        {% for comment in comments %}
                                        <div class="comment my-3 p-2">
                                            <div class=" d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <img src="{% static 'assets/image/sutdent-prof.png' %}" alt="student" class="user-profile">
                                                    <p class="user-name pr-2">{{ comment.author }}</p>
                                                </div>

                                                <p class="comment-date-time"> {{ comment.created | time_duration_calculator }}</p>
                                            </div>
                                            <p class="px-4 py-2 comment-text text-justify"> {{ comment.body }}</p>

                                            <div class="d-flex align-items-center justify-content-end reply" type='button'>
                                                <i class="fa fa-reply"></i>
                                                <p  onclick="ShowForm({{ comment.id }})">پاسخ به نظر</p>
                                            </div>
                                        </div>
                                            <form id="{{ comment.id }}" method="post"  action="{% url 'add-reply' post.id comment.id %}" style="display: none">
                                                    {% csrf_token %}
                                                    <textarea class="w-100 p-2 comment-area" name="body" id="id_body" cols="30" rows="10"
                                                            placeholder="دیدگاه خود را بنویسید"></textarea>
                                                    <div class="d-flex align-items-center justify-content-end pt-3">
                                                    <button type="submit" class="btn custom-btn">ارسال نظر</button>
                                                    </div>
                                            </form>
                                            {% if comment.replies  %}
                                                {% for reply in comment.replies.all %}
                                                           <div class="comment my-3 p-2 comment-child">
                                                                 <div class=" d-flex align-items-center justify-content-between">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <img src="{% static 'assets/image/sutdent-prof.png' %}" alt="student" class="user-profile">
                                                            <p class="user-name pr-2">{{ reply.author }}</p>
                                                        </div>

                                                        <p class="comment-date-time"> {{ reply.created | time_duration_calculator }}</p>
                                                    </div>
                                                    <p class="px-4 py-2 comment-text text-justify"> {{ reply.body }}</p>

                                                    <div class="d-flex align-items-center justify-content-end reply" type='button'>
                                                        <i class="fa fa-reply"></i>
                                                        <p  onclick="ShowForm({{ reply.id }})">پاسخ به نظر</p>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                {% endif %}
                                <!-- end comment -->
                            </div>
                            <!-- end comments -->

                        </div>
                    </div>
                    <!-- main -->
                    <!-- side -->
                    <aside class="col-md-4 ">
                        <div class="custom-bg p-2 teacher-card">
                            <div class="border-bottom py-3 text-center">
                                <h4>درباره استاد</h4>
                            </div>
                            <div class="d-flex align-items-center py-3">
                                <img src="{% static 'assets/image/sutdent-prof.png' %}" alt="student" class="teacher-profile">
                                <p class="user-name pr-2">امیرحسین امیری </p>
                            </div>
                            <p class="color78 teacher-description py-3">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                                تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>

                                <div class="teacher-social-media d-flex align-items-center justify-content-center flex-wrap">
                                    <a href=""> <i class="fa fa-instagram"></i></a>
                                    <a href=""> <i class="fa fa-github"></i></a>
                                    <a href=""> <i class="fa fa-linkedin"></i></a>
                                    <a href=""> <i class="fa fa-twitter"></i></a>
                                </div>
                        </div>
                    </aside>

                    <!-- end side -->
                </div>
            </div>
        </section>

    </main>
{% endblock %}    


{% block script %}
    <script>
        function ShowForm(id) {
            const form = document.getElementById(id);
            if (form.style.display === 'none') {
                // this SHOWS the form
                form.style.display = 'block';
            } else {
                //  this HIDES the form
                form.style.display = 'none';
            }

        }
        // video-player
        const videobtn = document.querySelector('.video-btn');
        const video = document.querySelector('.video');
        const videotag = document.querySelector('video')
        const videoDescription = document.querySelector('.video-description')
        const closeBtn = document.querySelector('.close-btn')
        const videoPoster = document.querySelector('.video-poster')
        const videoOverlay = document.querySelector('.video-overlay')
        function stopPlayer() {
            videobtn.style.display = "block";
            closeBtn.style.display = 'none';
            videoPoster.style.display = 'inline'
            video.style.zIndex = '-1'
            videotag.pause()
            videotag.style.borderRadius = '20px'
            videoDescription.style.display = 'flex'
            videotag.controls = false
            videotag.style.borderRadius = '15px'
            videoOverlay.style.display = 'block'
        };

        function playvideo() {
            videobtn.style.display = "none";
            video.style.zIndex = '22222'
            videotag.autoplay = true
            videotag.play()
            videotag.style.borderRadius = '20px'
            videotag.controls = true
            videoDescription.style.display = 'none'
            closeBtn.style.display = 'block'
            videoPoster.style.display = 'none'
            videoOverlay.style.display = 'none'
        }
    </script>
    <script src="https://use.fontawesome.com/96472d4340.js"></script>
{% endblock %}